*{
    margin: 0;
    padding: 0;
}
.front{
    width: 1170px;
    margin:auto;
}
header {
background: url("2641159.gif");
height: 100vh;
-webkit-background-size:cover;
background-size: cover;
background-position: center center;
position: relative;
}
.buttons{
    float: right;
    list-style: none;
    margin-top: 40px;
}
.buttons li{
    display: inline-block;
}
.buttons li a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 25px;
    font-family: poppins;
    font-size: 15px;
    border-radius: 20px;
}
.buttons li a:hover{
    background: palevioletred;
    color: #fff;
}
.buttons li a.active{
    background: palevioletred;
    color: #fff;
}
.resume{
    width:80%;
    margin: auto;
   text-align: center;
   padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    font-family: Pacifico, Regular;
}
.cols{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.resume-col{
   flex-basis: 31%;
   background: palevioletred;
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 18px 30px;
   box-sizing: border-box;
}
h3{
    text-align: center;
    font-family: Staatliches, Regular;
    font-weight: 400;
    text-transform: capitalize;
    margin: 10px 0;
}
p{
    text-align: justify;
    font-family: Poppins;
    font-size: 15px;
}
