*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.front{
    width: 1170px;
    margin:auto;
}
header {
    background: url("2641159.gif");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.buttons{
    float: right;
    list-style: none;
    margin-top: 40px;
}
.buttons li{
    display: inline-block;
}
.buttons li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 25px;
    font-family: poppins;
    font-size: 15px;
    border-radius: 20px;
}
.buttons li a:hover{
    background: palevioletred;
    color: #fff;
}
.buttons li a.active{
    background: palevioletred;
    color: #fff;
}
.contact{
    position: relative;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .content{
    max-height: 50vh;
    max-width: 800px;
    text-align: center;
}
h1{
    font-family: Pacifico, Regular;
    font-size: 36px;
    font-weight: 600;
}
h2{
    font-family: Staatliches, Regular;
}
.contact .content p{
    font-weight: 300;
    font-family: poppins;
}
.container{
    width: 100%;
    align-items: center;
    position: absolute;
    left: 200px;
    margin-bottom: 200px;
    padding-bottom: 20px;
    flex-direction: column;
  
}
.container .cncinfo{
    width: 100%;
    display: flex;
}
.container .cncinfo .box{
    position: absolute;
    top:180px;
    display: flex;
}
.container .cncinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: rgba(236, 147, 177);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.container .cncinfo .box .txt{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 18px;
}
h3{
    font-family: Staatliches, Regular;
}
.container .cncinfo .box .txt p{
    font-family: poppins;
    font-size: 13px;
}
.cntfrm{
    width: 70%;
    padding: 40px;
    background: rgba(236, 147, 177);
    position: absolute;
    right: -500px;
}
.cntfrm{
    font-weight: 500;
}
.cntfrm .inptbx{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.cntfrm .inptbx input, 
.cntfrm .inptbx textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    font-family: poppins;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.cntfrm .inptbx label{
    font-size: 16px;
    font-family: poppins;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 14px;
    font-family: poppins;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}
.cntfrm .inptbx input:focus ~ label,
.cntfrm .inptbx input:valid ~ label,
.cntfrm .inptbx textarea:focus ~ label,
.cntfrm .inptbx textarea:valid ~ label{
    font-size: 12px;
    transform: translateY(-20px);
}
button[type=submit]{
    width: 100px;
    outline: none;
    background: #fff;
    font-family: poppins;
    border: none;
    cursor: pointer;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 14px;
    transition: .3s ease background-color;
}
button[type=submit]:hover{
    background-color: palevioletred;

}
@media(max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .cncinfo{
        margin-bottom: 40px;
    }
}
#status{
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success{
    background-color: rgb(168, 230, 75);
    animation: status 4s ease forwards;
}
#status.error{
    background-color: rgb(224, 42, 42);
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}